{% extends 'layouts/base.html' %}

{% block content %}
<h1>Rhazem - Fotografo</h1>
<div class="about">
    <img src="https://picsum.photos/300/350" alt="">
    <div class="about_content">
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit harum placeat aperiam sed autem a aliquid earum maxime eaque nostrum maiores ut possimus ipsa, dolorum expedita quia, reiciendis odio nam?</p>
    </div>
</div>

{% endblock content %}