{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" width="90">
    <ul>
        <li><a href="">Diseñador de Logotipo</a></li>
        <li><a href="">Diseñador de Logotipo Faticon</a></li>
        <li><a href="">Diseñador de Logotipo Icon</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="http://instagram.com">Instagram</a></li>
    </ul>
    <ul>
        <li><a href="">Diseñador de Logotipo</a></li>
        <li><a href="">Diseñador de Logotipo Faticon</a></li>
        <li><a href="">Diseñador de Logotipo Icon</a></li>
    </ul>
</footer>