{% extends 'layout/base.html' %}

{% block title %}Contacto {{contact.name}} {% endblock title %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock styles %}

{% block content %}
<span class="aux-btns">
    <a href="{% url 'contact' %}">Volver</a>
</span>

<form action="" method="POST">
    <table>
        {{form.as_table}}
    </table>
    <div class="btn-wrapper">
        <input type="submit" value="Enviar" class="btn-send">
    </div>
    
</form>

{% endblock content %}